:root {
    --theme: #fff;
    --primary: rgba(66, 1, 4, 0.88);
    --secondary: rgba(0, 0, 0, 0.88);
    --tertiary: rgba(0, 0, 106, 0.16);
    --content: rgba(0, 0, 60, 0.88);
    --hljs-bg: #1c1d21;
    --code-bg: #f5f5f5;
    --border: #eee;
}
